@import '../utils/container';
@import '../utils/section-title';
@import '../utils/list';

.section-team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: $grey-background;
}
.team-container {
    @extend %container;
}
.section-team__title {
    @extend %section-title;
}
.team {
    @extend %list;
    display: flex;
}
.team__item {
    display: block;
    width: calc((100% - 3 * 30px) / 4);
    background-color: $white-color;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06), 
                1px 4px 6px rgba(0, 0, 0, 0.16);

    &:not(:last-child) {
        margin-right: 30px;
    }
}
.team__img {
    display: block;
    max-width: 100%;
    height: auto;
}
.team__wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
}
.team__name, .team__prof {
    letter-spacing: 0.03em;
    text-align: center;
    font-size: 16px;
    line-height: 1.19;
}
.team__name {
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 10px; 
}
.team__prof {
    color: $grey-text-color;
    margin-top: 0;
    margin-bottom: 16px;
}
